doctype html
html
  head
    title KhurshudyanPhoto
    link(rel='stylesheet', type='text/css', href='/app/css/main.css')
    link(rel='stylesheet', type='text/css', href='/app/css/default.css')
    link(rel='stylesheet', type='text/css', href='/app/css/component.css')
    link(rel='stylesheet', type='text/css', href='/app/css/main_slide_main.css')
    link(rel='stylesheet', type='text/css', href='/app/css/load_more.css')
    // for fb analitics
    meta(property='og:url', content='http://khurshudyan.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='KhurshudyanPhoto')
    meta(property='og:updated_time', content='1465679659')
    meta(property='fb:admins', content='100001332895153')
    meta(property='og:image', name='image', content="/app/img/fb_share.jpg")
    meta(property='fb:app_id', content='138460513240067')
    script(type='text/javascript', data-main='/app/js/app.js', src='/app/vendor/require/require.js')
  body
    //- .container
    #loading
      //- #loading-center
      //-   #loading-center-absolute
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      //-     .object
      #main_preloader
    #content
      #home
      #portraits
        ul.image_container.grid.cs-style-4
        .load_more_section
          nav.load_more.cl-effect-12
            a Load More
        .load_more_section.preloader-anim
          nav.cl-effect-12-1
            a Load More
      #nature
        ul.image_container.grid.cs-style-4
        .load_more_section
          nav.load_more.cl-effect-12
            a Load More
        .load_more_section.preloader-anim
          nav.cl-effect-12-1
            a Load More
      #when_talking_pictures
        ul.image_container.grid.cs-style-4
        .load_more_section
          nav.load_more.cl-effect-12
            a Load More
        .load_more_section.preloader-anim
          nav.cl-effect-12-1
            a Load More
      #commercial
        ul.image_container.grid.cs-style-4
        .load_more_section
          nav.load_more.cl-effect-12
            a Load More
        .load_more_section.preloader-anim
          nav.cl-effect-12-1
            a Load More
      #about
      #contact
    #gallery
      div#close_gallery
      span#right_img.slide_button
      span#left_img.slide_button
      span#gallery_preloader
      img#gallery_img
    #copyright 
      p © COPYRIGHT 2016 Khurshudyan Photoghrapher.
      a(href="https://www.facebook.com/suro.atoyan" target="blank") Web Design &amp; Development by SurenAt
// https://tinypng.com/
// https://compressor.io/
// 
